<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">
<body>

<div layout:fragment="page-level-style">
	<link th:href="@{/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/global/plugins/jquery-multi-select/css/multi-select.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/global/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
</div>

<div layout:fragment="page-level-plugin">
	<script th:src="@{/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js}" type="text/javascript"></script>
	<script th:src="@{/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js}" type="text/javascript"></script>
	<script th:src="@{/assets/global/plugins/select2/js/select2.full.min.js}" type="text/javascript"></script>
</div>

<div layout:fragment="page-level-script">
	<script th:src="@{/assets/global/plugins/jquery-nestable/jquery.nestable.js}" type="text/javascript"></script>
	<script type="text/javascript">
	// <![CDATA[

	jQuery(document).ready(function() {
		$('#target_server_select').multiSelect();
	});

	// ]]>
	</script>
</div>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-settings font-dark"></i>
							<span class="caption-subject font-dark sbold uppercase">Application Deploy</span>
						</div>
					</div>
					<div class="portlet-body form">
						<form class="form-horizontal" role="form"  th:action="@{/docker/apps/{id}/deploy(id=${app.id})}" th:object="${editForm}" method="post">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
								The daily cronjob has failed.
							</div>

							<div class="form-body">

								<div class="form-group">
									<label class="control-label col-md-3">Target Servers</label>
									<div class="col-md-9">
										<select multiple="multiple" class="multi-select" id="target_server_select" th:field="*{targetServerIds}">
											<option th:each="targetServer : ${targetServers}"
												th:value="${targetServer.id}" th:text="'[' + ${targetServer.name} + '] ' + ${targetServer.hostname} + '(' + ${targetServer.address} + ')'">Dallas Cowboys</option>
										</select>
									</div>
								</div>
								<hr />

								<div class="form-group" th:class="${#fields.hasErrors('id')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">ID</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{id}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"> A block of help text. </span>
									</div>
								</div>

							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn green">Submit</button>
										<button type="button" class="btn default">Cancel</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>

</body>
</html>
