<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bubble font-dark"></i>
					<span class="caption-subject font-dark bold uppercase" th:text="${agent.name}">App List</span>
				</div>
				<div class="actions">
					<div class="btn-group btn-group-devided">
						<a th:href="@{/server/agent/{id}/app/create(id=${agent.id},step=step1)}" class="btn btn-sm default">등록</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th> Id </th>
							<th> Name </th>
							<th> Description </th>
							<th> Status </th>
							<th> PID </th>
							<th> Monitor </th>
							<th> Action </th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="appInstance : ${appInstances}">
							<td th:text="${appInstance.id}"> 2 </td>
							<td th:text="${appInstance.name}"> Joke </td>
							<td th:text="${appInstance.description}"> Joke </td>
							<td th:text="${appInstance.status}"> Joke </td>
							<td th:text="${appInstance.pid}"> Joke </td>
							<td th:text="${appInstance.monitored}"> Joke </td>
							<td>
								<div class="btn-group">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"> Action
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a th:href="@{/server/agent/{agentId}/app/{appId}/start(agentId=${agent.id},appId=${appInstance.id})}"> Start </a>
										</li>
										<li>
											<a th:href="@{/server/agent/{agentId}/app/{appId}/stop(agentId=${agent.id},appId=${appInstance.id})}"> Start </a>
										</li>
										<li class="divider"> </li>
										<li>
											<a th:href="@{/server/agent/{agentId}/app/{appId}/update?step=step1(agentId=${agent.id},appId=${appInstance.id})}"> Redeploy </a>
										</li>
										<li>
											<a th:href="@{/server/agent/{agentId}/app/{appId}/delete(agentId=${agent.id},appId=${appInstance.id})}"> Remove </a>
										</li>
										<li class="divider"> </li>
										<li>
											<a th:href="@{/server/agent/{agentId}/app/{appId}/log(agentId=${agent.id},appId=${appInstance.id})}"> Log Files </a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>


</body>
</html>
