<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
    <div class="col-md-12">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bubble font-dark"></i>
                    <span class="caption-subject font-dark bold uppercase">Account approval</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th> Login ID </th>
                            <th> Username </th>
                            <th> Email </th>
                            <th> Action </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.login}"> Joke </td>
                            <td th:text="${user.firstName}"> Joke </td>
                            <td th:text="${user.email}"> Joke@Joke.joke </td>
                            <td>
                                <a th:href="@{/account/allow(id=${user.id})}" class="btn blue btn-outline">Allow</a>
                                <a th:href="@{/account/deny(id=${user.id})}" class="btn red btn-outline">Deny</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END BORDERED TABLE PORTLET-->
    </div>
</div>


</body>
</html>
