<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bubble font-dark"></i>
							<span class="caption-subject font-dark bold uppercase">Events</span>
						</div>
						<div class="actions">
							<div class="btn-group btn-group-devided">
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-scrollable">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th> # </th>
									<th> Event Time </th>
									<th> Event Level </th>
									<th> Event Name </th>
									<th> Agent Id </th>
									<th> App Id </th>
									<th> Message </th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="event : ${page}">
									<td th:text="${event.id}"> Joke </td>
									<td th:text="${event.eventTime}"> Joke </td>
									<td th:text="${event.eventLevel}"> Joke </td>
									<td th:text="${event.eventName}"> Joke </td>
									<td th:text="${event.agentId}"> Joke </td>
									<td th:text="${event.appId}"> Joke </td>
									<td th:text="${event.message}"> Joke </td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>


</body>
</html>
