<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-settings font-dark"></i>
							<span class="caption-subject font-dark sbold uppercase" th:text="${agent.name}">App Template Form</span>
						</div>
					</div>
					<div class="portlet-body form">
						<form class="form-horizontal" role="form"  th:action="@{/server/agent/__${agent.id}__/app/{action}(action=${action})}" th:object="${editForm}" method="post">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
								The daily cronjob has failed.
							</div>

							<div class="form-body">
								<div class="form-group" th:class="${#fields.hasErrors('id')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">ID</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{id}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Name</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{name}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Description</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{description}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> A block of help text. </span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Template</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.name}"> TemplateName </p>
										<input type="hidden" name="templateId" th:field="*{templateId}" />
									</div>
								</div>

								<div class="form-group" th:class="${#fields.hasErrors('version')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Version</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{version}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('version')}" th:errors="*{version}"> A block of help text. </span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Monitor</label>
									<div class="col-md-9">
										<div class="checkbox-list">
											<label class="checkbox-inline">
												<span class=""><input type="checkbox" th:field="*{monitor}" /></span>
												Enable </label>
										</div>
									</div>
								</div>

								<div class="form-group" th:class="${#fields.hasErrors('installScriptId')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Install Script</label>
									<div class="col-md-9">
										<select class="form-control" th:field="*{installScriptId}">
											<option th:each="appInstallScript : ${appInstallScripts}"
													th:value="${appInstallScript.id}" th:text="${appInstallScript.name}">Option 1</option>
										</select>
										<span class="help-block" th:if="${#fields.hasErrors('installScriptId')}" th:errors="*{installScriptId}"> A block of help text. </span>
									</div>
								</div>

								<div class="form-group" th:class="${#fields.hasErrors('parametersType')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Parameters Type</label>
									<div class="col-md-9">
										<select class="form-control" th:field="*{parametersType}">
											<option th:each="type : ${parametersTypes}"
													th:value="${type.name()}" th:text="${type.name()}">Option 1</option>
										</select>
										<span class="help-block" th:if="${#fields.hasErrors('parametersType')}" th:errors="*{parametersType}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('parameters')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Parameters</label>
									<div class="col-md-9">
										<textarea class="form-control" th:field="*{parameters}" rows="3"></textarea>
										<span class="help-block" th:if="${#fields.hasErrors('parameters')}" th:errors="*{parameters}"> A block of help text. </span>
									</div>
								</div>


							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn green">Submit</button>
										<button type="button" class="btn default">Cancel</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>

</body>
</html>
