<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bubble font-dark"></i>
					<span class="caption-subject font-dark bold uppercase" th:text="${agent.name}">App List</span>
				</div>
				<div class="actions">
					<div class="btn-group btn-group-devided">
						<a th:href="@{/server/agent/{id}/app/create(id=${agent.id},step=step1)}" class="btn btn-sm default">등록</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th> Id </th>
							<th> Name </th>
							<th> Description </th>
							<th> Process Type </th>
							<th> Group Id </th>
							<th> Artifact Id </th>
							<th> Version </th>
							<th> Status </th>
							<th> PID </th>
							<th> Monitor </th>
							<th> Action </th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="app : ${appList}">
							<td th:text="${app.id}"> 2 </td>
							<td th:text="${app.name}"> Joke </td>
							<td th:text="${app.description}"> Joke </td>
							<td th:text="${app.processType}"> Joke </td>
							<td th:text="${app.groupId}"> Joke </td>
							<td th:text="${app.artifactId}"> Joke </td>
							<td th:text="${app.version}"> Joke </td>
							<td th:text="${app.status}"> Joke </td>
							<td th:text="${app.pid}"> Joke </td>
							<td th:text="${app.monitor}"> Joke </td>
							<td>
								<a th:href="@{/server/agent/{agentId}/app/{appId}/log(agentId=${agent.id},appId=${app.id})}" class="btn btn-icon-only blue">
									<i class="fa fa-file-text-o"></i></a>
								<a th:href="@{/server/agent/__${agent.id}__/app/__${app.id}__/start}" class="btn btn-icon-only blue">
									<i class="fa fa-play"></i></a>
								<a th:href="@{/server/agent/__${agent.id}__/app/__${app.id}__/stop}" class="btn btn-icon-only yellow">
									<i class="fa fa-stop"></i></a>
								<a th:href="@{/server/agent/__${agent.id}__/app/__${app.id}__/delete}" class="btn btn-icon-only red">
									<i class="fa fa-eject"></i></a>
								<a th:href="@{/app/create(agentId=${agent.id},id=${app.id})}" class="btn btn-icon-only blue">
									<i class="fa fa-object-group"></i></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>


</body>
</html>
