<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">
<body>

<div layout:fragment="page-level-script">
	<script type="text/javascript">
	// <![CDATA[

	// ]]>
	</script>
</div>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-settings font-dark"></i>
							<span class="caption-subject font-dark sbold uppercase">App Deploy Form</span>
						</div>
					</div>
					<div class="portlet-body form">

						<form class="form-horizontal" role="form"  th:action="@{/apps/{path}(path=${path})}" th:object="${editForm}" method="post">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
								The daily cronjob has failed.
							</div>
							<input type="hidden" name="action" th:value="${param.action[0]}" />
							<div class="row">
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<thead>
										<tr>
											<th> <input type="checkbox" name="hostIdsAll" value="" /> </th>
											<th> 호스트 이름 </th>
											<th> IP 주소 </th>
										</tr>
										</thead>
										<tbody>
										<tr th:each="host : ${hosts}">
											<td> <input type="checkbox" name="hostIds" th:value="${host.id}" /> </td>
											<td th:text="${host.name}"> 해당 없음 </td>
											<td th:text="${host.address}"> 해당 없음 </td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row form">
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn green">Deploy</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>

</body>
</html>
