<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bubble font-dark"></i>
					<span class="caption-subject font-dark bold uppercase">Applications</span>
				</div>
				<div class="actions">
					<div class="btn-group btn-group-devided">
						<a th:href="@{/apps/{path}(path=${path},action=create-group)}" class="btn btn-sm default">Create Group</a>
						<a th:href="@{/apps/{path}(path=${path},action=create-simple-app)}" class="btn btn-sm default">Create Simple Application</a>
						<a th:href="@{/apps/{path}(path=${path},action=create-spring-boot-app)}" class="btn btn-sm default">Create SpringBoot Application</a>
						<a th:href="@{/apps/{path}(path=${path},action=create-docker-app)}" class="btn btn-sm default">Create Docker Application</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th> Type </th>
							<th> Name </th>
							<th> Description </th>
							<th> CPU </th>
							<th> Memory </th>
							<th> Status </th>
							<th> Health </th>
							<th> Running Instances </th>
							<th> Action </th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="app : ${apps}">
							<td th:text="${app.type}"> Joke </td>
							<td> <a th:href="@{/apps/{path}(path=${app.path})}" th:text="${app.name}">name</a> </td>
							<td th:text="${app.description}"> Joke </td>
							<td th:text="${app.cpu}"> Joke </td>
							<td th:text="${app.memory}"> Joke </td>
							<td th:text="${app.status}"> Joke </td>
							<td th:text="${app.health}"> Joke </td>
							<td th:text="${app.instances}"> Joke </td>
							<td>
								<div class="btn-group">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"> Action
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a th:href="@{/apps/{path}(path=${app.path},action=destroy)}"> Destory </a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>


</body>
</html>
