<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">

<div layout:fragment="page-level-script">
	<script type="text/javascript">
		// <![CDATA[

		$("input[name=resourceType]").change(function() {
			var radioValue = $(this).val();
			if (radioValue == "ARTIFACT") {
				$("#resourceType-ARTIFACT").show();
				$("#resourceType-URL").hide();
			} else if (radioValue == "URL") {
				$("#resourceType-URL").show();
				$("#resourceType-ARTIFACT").hide();
			}
		});

		// ]]>
	</script>
</div>

<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-settings font-dark"></i>
					<span class="caption-subject font-dark sbold uppercase">SpringBoot Application Form</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form class="form-horizontal" role="form"  th:action="@{/apps/{path}(path=${path})}" th:object="${editForm}" method="post">
					<input type="hidden" name="action" th:value="${param.action[0]}" />
					<input type="hidden" th:field="*{id}" />
					<div class="form-body">
						<div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{name}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> A block of help text. </span>
							</div>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Description</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{description}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> A block of help text. </span>
							</div>
						</div>

						<hr />
						<div class="form-group" th:class="${#fields.hasErrors('jvmOpts')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">JVM Options</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{jvmOpts}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('jvmOpts')}" th:errors="*{jvmOpts}"> A block of help text. </span>
							</div>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('springOpts')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">SpringBoot Options</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{springOpts}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('springOpts')}" th:errors="*{springOpts}"> A block of help text. </span>
							</div>
						</div>
						<hr />
						<div class="form-group" th:class="${#fields.hasErrors('logDirectory')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Log Directory (logDirectory)</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{logDirectory}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('logDirectory')}" th:errors="*{logDirectory}"> A block of help text. </span>
							</div>
						</div>

						<hr />
						<div class="form-group" th:class="${#fields.hasErrors('resourceType')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Resource Type</label>
							<div class="col-md-9">
								<div class="radio-list">
									<label class="radio-inline">
										<div class="radio" id="uniform-optionsRadios4">
											<input type="radio" name="resourceType" th:field="*{resourceType}" value="ARTIFACT" checked="checked" />
										</div> Artifact
									</label>
									<label class="radio-inline">
										<div class="radio" id="uniform-optionsRadios5">
											<input type="radio" name="resourceType" th:field="*{resourceType}" value="URL" />
										</div> Url
									</label>
								</div>
							</div>
						</div>
						<div id="resourceType-ARTIFACT" th:style="${editForm.resourceType != T(lamp.admin.core.app.simple.resource.AppResourceType).ARTIFACT} ? 'display:none'">
						<div class="form-group" th:class="${#fields.hasErrors('repositoryId')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Repository</label>
							<div class="col-md-9">
								<select class="form-control" th:field="*{repositoryId}">
									<option th:each="appRepo : ${appRepositoryList}"
											th:value="${appRepo.id}" th:text="${appRepo.name}">Option 1</option>
								</select>
								<span class="help-block" th:if="${#fields.hasErrors('repositoryId')}" th:errors="*{repositoryId}"> A block of help text. </span>
							</div>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('groupId')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Group Id (groupId)</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{groupId}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"> A block of help text. </span>
							</div>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('artifactId')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Artifact Id (artifactId)</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{artifactId}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('artifactId')}" th:errors="*{artifactId}"> A block of help text. </span>
							</div>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('version')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Version (version)</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{version}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('version')}" th:errors="*{version}"> A block of help text. </span>
							</div>
						</div>
						</div>

						<div id="resourceType-URL" th:style="${editForm.resourceType != T(lamp.admin.core.app.simple.resource.AppResourceType).URL} ? 'display:none'">
						<div class="form-group" th:class="${#fields.hasErrors('resourceUrl')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Resource Url</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{resourceUrl}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('resourceUrl')}" th:errors="*{resourceUrl}"> A block of help text. </span>
							</div>
						</div>
						</div>

						<hr />
						<h4>Parameters</h4>
						<div class="form-group" th:class="${#fields.hasErrors('parametersType')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Parameters Type</label>
							<div class="col-md-9">
								<select class="form-control" th:field="*{parametersType}">
									<option th:each="type : ${parametersTypes}"
											th:value="${type.name()}" th:text="${type.name()}">Option 1</option>
								</select>
								<span class="help-block" th:if="${#fields.hasErrors('parametersType')}" th:errors="*{parametersType}"> A block of help text. </span>
							</div>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('parameters')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Parameters</label>
							<div class="col-md-9">
								<textarea class="form-control" th:field="*{parameters}" rows="3"></textarea>
								<span class="help-block" th:if="${#fields.hasErrors('parameters')}" th:errors="*{parameters}"> A block of help text. </span>
							</div>
						</div>

					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green">Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>

</body>
</html>
