<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->

				<div>
					<div class="portlet light bordered">
						<div class="portlet-title">
							<div class="caption">
								<i class="icon-social-dribbble font-purple"></i>
								<span class="caption-subject font-purple bold" th:text="${app.name}">Name</span>
							</div>
							<div class="actions">
								<a class="btn btn-primary" th:href="@{/apps/{path}(path=${path},action=deploy)}">
									Deploy
								</a>
								<a class="btn default" th:href="@{/apps/{path}(path=${path},action='update-' + ${app.type.value})}">
									Edit
								</a>
								<a class="btn default">
									Restart
								</a>
								<a class="btn default">
									Stop
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<h3>Running (0 of 0 instances)</h3>
							<div class="well">
								<h4 th:text="${app.name}">Default well</h4> <span th:text="${app.description}"></span>
							</div>

							<div class="tabbable-line">
								<ul class="nav nav-tabs ">
									<li class="active">
										<a href="#tab_15_1" data-toggle="tab"> Instances </a>
									</li>
									<li>
										<a href="#tab_15_2" data-toggle="tab"> Configuration </a>
									</li>
									<li>
										<a href="#tab_15_3" data-toggle="tab"> Debug </a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_15_1">
										<div class="row">
											<div class="table-responsive">
												<table class="table table-bordered table-hover">
													<thead>
													<tr>
														<th> <input type="checkbox" name="appInstanceIdsAll" value="" /> </th>
														<th> Instance Id </th>
														<th> Version </th>
														<th> Hostname </th>
														<th> Address </th>
														<th> Status </th>
														<th> Error Log </th>
														<th> Output Log </th>
														<th> Action </th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="appInstance : ${appInstances}">
														<td> <input type="checkbox" name="appInstanceIds" th:value="${appInstance.id}" /> </td>
														<td th:text="${appInstance.id}"> 해당 없음 </td>
														<td th:text="${appInstance.appVersion}"> 해당 없음 </td>
														<td th:text="${appInstance.host?.name}"> 해당 없음 </td>
														<td th:text="${appInstance.host?.address}"> 해당 없음 </td>
														<td th:text="${appInstance.status}"> 해당 없음 </td>
														<td> <a href=""><i class="fa fa-file-text"></i> stderr </a></td>
														<td> <a href=""><i class="fa fa-file-text"></i> stdout </a></td>
														<td>
															<div class="btn-group">
																<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"> Action
																	<i class="fa fa-angle-down"></i>
																</a>
																<ul class="dropdown-menu" role="menu">
																	<li>
																		<a th:href="@{/apps/{path}(path=${path},instanceId=${appInstance.id},action=start)}"> Start </a>
																	</li>
																	<li>
																		<a th:href="@{/apps/{path}(path=${path},instanceId=${appInstance.id},action=stop)}"> Stop </a>
																	</li>
																	<li class="divider"> </li>
																	<li>
																		<a th:href="@{/apps/{path}(path=${path},instanceId=${appInstance.id},action=redeploy)}"> Redeploy </a>
																	</li>
																	<li>
																		<a th:href="@{/apps/{path}(path=${path},instanceId=${appInstance.id},action=undeploy)}"> Undeploy </a>
																	</li>
																</ul>
															</div>
														</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="tab_15_2">
										<p> Howdy, I'm in Section 2. </p>
										<p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
											consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. </p>
										<p>
											<a class="btn green" href="ui_tabs_accordions_navs.html#tab_15_2" target="_blank"> Activate this tab via URL </a>
										</p>
									</div>
									<div class="tab-pane" id="tab_15_3">
										<p> Howdy, I'm in Section 3. </p>
										<p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
											iriure dolor in hendrerit in vulputate velit esse molestie consequat </p>
										<p>
											<a class="btn yellow" href="ui_tabs_accordions_navs.html#tab_15_3" target="_blank"> Activate this tab via URL </a>
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- END BORDERED TABLE PORTLET-->
			</div>

		</div>

</body>
</html>
