<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bubble font-dark"></i>
					<span class="caption-subject font-dark bold uppercase">Host Alert Rules</span>
				</div>
				<div class="actions">
					<div class="btn-group btn-group-devided">
						<a th:href="@{/monitoring/hosts/alert-rules/create}" class="btn btn-sm default">등록</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th> Id </th>
							<th> Name </th>
							<th> targetExpression </th>
							<th> ruleExpression </th>
							<th> valueExpression </th>
							<th> Enabled </th>
							<th> Action </th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="target : ${page}">
							<td th:text="${target.id}"> 2 </td>
							<td th:text="${target.name}"> Joke </td>
							<td th:text="${target.targetExpression}"> Joke </td>
							<td th:text="${target.ruleExpression}"> Joke </td>
							<td th:text="${target.valueExpression}"> Joke </td>
							<td th:text="${target.enabled}"> Joke </td>
							<td>
								<div class="btn-group">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"> Action
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a th:href="@{/monitoring/hosts/alert-rules/{id}/update(id=${target.id})}"> Modify </a>
										</li>
										<li>
											<a th:href="@{/monitoring/hosts/alert-rules/{id}/delete(id=${target.id})}"> Delete </a>
										</li>
										<li class="divider"> </li>
										<li>
											<a th:href="@{/monitoring/hosts/alert-rules/{id}/disable(id=${target.id})}"> Monitoring Disable </a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="text-center" th:include="fragments/pagination :: pagination" th:with="pageUrl='/monitoring/hosts',page=${page}"></div>
				</div>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>


</body>
</html>
