<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">

<div layout:fragment="page-level-script">
	<script type="text/javascript">
		// <![CDATA[

		$("input[name=usePassword]").change(function() {

			if($(this).is(":checked")){
				$("#usePassword-true").show();
				$("#usePassword-false").hide();
			}else{
				$("#usePassword-false").show();
				$("#usePassword-true").hide();
			}

		});

		// ]]>
	</script>
</div>

<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-settings font-dark"></i>
							<span class="caption-subject font-dark sbold uppercase">Add Hosts</span>
						</div>
					</div>
					<div class="portlet-body">
						<div class="row form">
						<form class="form-horizontal" role="form"  th:action="@{/hosts/add}" th:object="${editForm}" method="post" enctype="multipart/form-data">
							<input type="hidden" th:field="*{clusterId}" />

							<div th:each="address : ${editForm.scannedHostAddress}" th:remove="tag">
								<input type="hidden" name="scannedHostAddress" th:value="${address}" />
							</div>
							<div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
								The daily cronjob has failed.
							</div>
							<div class="form-body">
								<div class="form-group" th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Username</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{username}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> A block of help text. </span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">Auth</label>
									<div class="col-md-9">
										<div class="checkbox-list">
											<label class="checkbox-inline">
												<span class=""><input type="checkbox" th:field="*{usePassword}" /></span>
												Use Password </label>
										</div>
									</div>
								</div>

								<div id="usePassword-true" th:style="${!editForm.usePassword} ? 'display:none'">
									<div class="form-group" th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
										<label class="col-md-3 control-label">Password</label>
										<div class="col-md-9">
											<input type="password" class="form-control" th:field="*{password}" placeholder="Enter text" />
											<span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> A block of help text. </span>
										</div>
									</div>

									<div class="form-group" th:class="${#fields.hasErrors('passwordConfirm')} ? 'form-group has-error' : 'form-group'">
										<label class="col-md-3 control-label">Password Confirm</label>
										<div class="col-md-9">
											<input type="password" class="form-control" th:field="*{passwordConfirm}" placeholder="Enter text" />
											<span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"> A block of help text. </span>
										</div>
									</div>
								</div>
								<div id="usePassword-false" th:style="${editForm.usePassword} ? 'display:none'">
									<div class="form-group" th:class="${#fields.hasErrors('privateKey')} ? 'form-group has-error' : 'form-group'">
										<label class="col-md-3 control-label">PrivateKey</label>
										<div class="col-md-9">
											<input type="file" class="form-control" th:field="*{privateKey}" placeholder="Enter text" />
											<span class="help-block" th:if="${#fields.hasErrors('privateKey')}" th:errors="*{privateKey}"> A block of help text. </span>
										</div>
									</div>

									<div class="form-group" th:class="${#fields.hasErrors('passphrase')} ? 'form-group has-error' : 'form-group'">
										<label class="col-md-3 control-label">Passphrase</label>
										<div class="col-md-9">
											<input type="password" class="form-control" th:field="*{passphrase}" placeholder="Enter text" />
											<span class="help-block" th:if="${#fields.hasErrors('passphrase')}" th:errors="*{passphrase}"> A block of help text. </span>
										</div>
									</div>

									<div class="form-group" th:class="${#fields.hasErrors('passphraseConfirm')} ? 'form-group has-error' : 'form-group'">
										<label class="col-md-3 control-label">Passphrase Confirm</label>
										<div class="col-md-9">
											<input type="password" class="form-control" th:field="*{passphraseConfirm}" placeholder="Enter text" />
											<span class="help-block" th:if="${#fields.hasErrors('passphraseConfirm')}" th:errors="*{passphraseConfirm}"> A block of help text. </span>
										</div>
									</div>
								</div>


								<div class="form-group" th:class="${#fields.hasErrors('sshPort')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">SSH Port</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{sshPort}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('sshPort')}" th:errors="*{sshPort}"> A block of help text. </span>
									</div>
								</div>

							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn green">Submit</button>
									</div>
								</div>
							</div>
						</form>
						</div>

					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>

</body>
</html>
