<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bubble font-dark"></i>
							<span class="caption-subject font-dark bold uppercase">Agents</span>
						</div>
						<div class="actions">
							<div class="btn-group btn-group-devided">
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-scrollable">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th> # </th>
									<th> Name </th>
									<th> Type </th>
									<th> Version </th>
									<th> Protocol </th>
									<th> Hostname </th>
									<th> Address </th>
									<th> Port </th>
									<th> Action </th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="agent : ${page}">
									<td th:text="${agent.id}"> Joke </td>
									<td th:text="${agent.name}"> Joke </td>
									<td th:text="${agent.type}"> Joke </td>
									<td th:text="${agent.version}"> Joke </td>
									<td th:text="${agent.protocol}"> Joke </td>
									<td th:text="${agent.hostname}"> Joke </td>
									<td th:text="${agent.address}"> Joke </td>
									<td th:text="${agent.port}"> Joke </td>
									<td>
										<a th:href="@{/agent/{id}(id=${agent.id})}">View</a> |
										<a th:href="@{/agent/{id}/app(id=${agent.id})}">App</a> |
										<a th:href="@{/agent/{id}/vm(id=${agent.id})}">JavaVM</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>


</body>
</html>
