<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-settings font-dark"></i>
							<span class="caption-subject font-dark sbold uppercase">Application</span>
						</div>
					</div>
					<div class="portlet-body form">
						<form class="form-horizontal" role="form" method="post">
							<div class="form-body">
								<div class="form-group">
									<label class="col-md-3 control-label">Resource Type</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.resourceType}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Name</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.name}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Description</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.description}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Repository</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.repositoryId}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Group Id</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.groupId}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Artifact Id</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.artifactId}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Version</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.version}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Process Type</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.processType}"> username </p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">App Directory</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.appDirectory}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Work Directory</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.workDirectory}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Log Directory</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.logDirectory}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">PID file</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.pidFile}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Standard Out File</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.stdOutFile}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Standard Error File</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.stdErrFile}"> username </p>
									</div>
								</div>

								<hr />
								<h4>Command</h4>
								<div class="form-group">
									<label class="col-md-3 control-label">Command Shell</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.commandShell}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Start Command Line</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.startCommandLine}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Stop Command Line</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.stopCommandLine}"> username </p>
									</div>
								</div>


								<div class="form-group">
									<label class="col-md-3 control-label">Monitor</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${app.monitor}"> username </p>
									</div>
								</div>

								<hr />

								<hr />
								<h4>Parameters</h4>

								<div class="form-group">
									<label class="col-md-3 control-label">Parameters</label>
									<div class="col-md-9">
										<pre class="form-control-static" th:text="${app.parameters}"> username </pre>
									</div>
								</div>


							</div>

						</form>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>

		</div>

</body>
</html>
