<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-settings font-dark"></i>
							<span class="caption-subject font-dark sbold uppercase">App Template View</span>
						</div>
					</div>
					<div class="portlet-body form">
						<form class="form-horizontal" role="form" method="post">
							<div class="form-body">
								<div class="form-group">
									<label class="col-md-3 control-label">Resource Type</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.resourceType}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Name</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.name}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Description</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.description}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Repository</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.repositoryId}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Group Id</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.groupId}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Artifact Id</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.artifactId}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Version</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.version}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Process Type</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.processType}"> username </p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label">App Directory</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.appDirectory}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Work Directory</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.workDirectory}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Log Directory</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.logDirectory}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">PID file</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.pidFile}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Standard Out File</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.stdOutFile}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Standard Error File</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.stdErrFile}"> username </p>
									</div>
								</div>

								<hr />
								<h4>Command</h4>
								<div class="form-group">
									<label class="col-md-3 control-label">Command Shell</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.commandShell}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Start Command Line</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.startCommandLine}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Stop Command Line</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.stopCommandLine}"> username </p>
									</div>
								</div>


								<div class="form-group">
									<label class="col-md-3 control-label">Monitor</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.monitor}"> username </p>
									</div>
								</div>

								<hr />
								<h4>Install</h4>
								<div class="form-group" th:if="${appTemplate.resourceType != T(lamp.admin.core.app.domain.AppResourceType).NONE}">
									<label class="col-md-3 control-label">Install filename</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.appFilename}"> username </p>
									</div>
								</div>


								<hr />
								<h4>Parameters</h4>
								<div class="form-group">
									<label class="col-md-3 control-label">Parameters Type</label>
									<div class="col-md-9">
										<p class="form-control-static" th:text="${appTemplate.parametersType}"> username </p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Parameters</label>
									<div class="col-md-9">
										<pre class="form-control-static" th:text="${appTemplate.parameters}"> username </pre>
									</div>
								</div>


							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<a th:href="@{/app/template/{id}/update(id=${appTemplate.id})}" class="btn blue">Modify</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>

			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bubble font-dark"></i>
							<span class="caption-subject font-dark bold uppercase">Install Scripts</span>
						</div>
						<div class="actions">
							<div class="btn-group btn-group-devided">
								<a th:href="@{/app/template/{id}/script/create(id=${appTemplate.id})}" class="btn btn-sm default">등록</a>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th> Id </th>
									<th> Name </th>
									<th> Description </th>
									<th> Version </th>
									<th> Action </th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="installScript : ${appInstallScripts}">
									<td th:text="${installScript.id}"> 2 </td>
									<td th:text="${installScript.name}"> Joke </td>
									<td th:text="${installScript.description}"> Joke </td>
									<td th:text="${installScript.version}"> Joke </td>
									<td>
										<a th:href="@{/app/template/{templateId}/script/{scriptId}/update(templateId=${appTemplate.id},scriptId=${installScript.id})}" class="btn btn-icon-only red">
											<i class="fa fa-edit"></i> </a>
										<a th:href="@{/app/template/{templateId}/script/{scriptId}/delete(templateId=${appTemplate.id},scriptId=${installScript.id})}" class="btn btn-icon-only red">
											<i class="fa fa-remove"></i> </a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>

</body>
</html>
