<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">

<div layout:fragment="page-level-script">
	<script type="text/javascript">
		// <![CDATA[

		$("input[name=type]").change(function() {
			var radioValue = $(this).val();
			if (radioValue == "AWS") {
				$("#type-AWS").show();
				$("#type-DEFAULT").hide();
			} else {
				$("#type-DEFAULT").show();
				$("#type-AWS").hide();
			}
		});

		// ]]>
	</script>
</div>

<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-settings font-dark"></i>
					<span class="caption-subject font-dark sbold uppercase">Cluster Form</span>
				</div>
			</div>
			<div class="portlet-body form">
				<form class="form-horizontal" role="form"  th:action="${action == 'update'} ? @{/clusters/{clusterId}/update(clusterId=${clusterId})} : @{/clusters/add}" th:object="${editForm}" method="post">
					<div class="alert alert-danger" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">
						The daily cronjob has failed.
					</div>
					<div class="form-body">
						<div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Name</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{name}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> A block of help text. </span>
							</div>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Description</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{description}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> A block of help text. </span>
							</div>
						</div>

						<hr />
						<div class="form-group" th:class="${#fields.hasErrors('tenantId')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Tenant Id</label>
							<div class="col-md-9">
								<input type="text" class="form-control" th:field="*{tenantId}" placeholder="Enter text" />
								<span class="help-block" th:if="${#fields.hasErrors('tenantId')}" th:errors="*{tenantId}"> A block of help text. </span>
							</div>
						</div>

						<hr />
						<div class="form-group" th:class="${#fields.hasErrors('sshKeyId')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">SSH Key</label>
							<div class="col-md-9">
								<select class="form-control" th:field="*{sshKeyId}">
									<option value="">NONE</option>
									<option th:each="sshKey : ${sshKeys}"
											th:value="${sshKey.id}" th:text="${sshKey.name}">Option 1</option>
								</select>
								<span class="help-block" th:if="${#fields.hasErrors('sshKeyId')}" th:errors="*{sshKeyId}"> A block of help text. </span>
							</div>
						</div>

						<hr />
						<div class="form-group" th:class="${#fields.hasErrors('type')} ? 'form-group has-error' : 'form-group'">
							<label class="col-md-3 control-label">Cluster Type</label>
							<div class="col-md-9">
								<div class="radio-list">
									<label class="radio-inline">
										<div class="radio" id="uniform-optionsRadios4">
											<input type="radio" name="type" th:field="*{type}" value="DEFAULT" checked="checked" />
										</div> Default
									</label>
									<label class="radio-inline">
										<div class="radio" id="uniform-optionsRadios5">
											<input type="radio" name="type" th:field="*{type}" value="AWS" />
										</div> AWS
									</label>
								</div>
							</div>
						</div>
						<div id="type-DEFAULT" th:style="${editForm.type != T(lamp.admin.core.host.ClusterType).DEFAULT} ? 'display:none'">

						</div>

						<div id="type-AWS" th:style="${editForm.type != T(lamp.admin.core.host.ClusterType).AWS} ? 'display:none'">
							<div class="form-group" th:class="${#fields.hasErrors('accessKeyId')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">Access Key ID</label>
								<div class="col-md-9">
									<input type="text" class="form-control" th:field="*{accessKeyId}" placeholder="Enter text" />
									<span class="help-block" th:if="${#fields.hasErrors('accessKeyId')}" th:errors="*{accessKeyId}"> A block of help text. </span>
								</div>
							</div>
							<div class="form-group" th:class="${#fields.hasErrors('secretAccessKey')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">Secret Access Key</label>
								<div class="col-md-9">
									<input type="text" class="form-control" th:field="*{secretAccessKey}" placeholder="Enter text" />
									<span class="help-block" th:if="${#fields.hasErrors('secretAccessKey')}" th:errors="*{secretAccessKey}"> A block of help text. </span>
								</div>
							</div>
							<hr />
							<div class="form-group" th:class="${#fields.hasErrors('imageId')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">Image Id</label>
								<div class="col-md-9">
									<input type="text" class="form-control" th:field="*{imageId}" placeholder="Enter text" />
									<span class="help-block" th:if="${#fields.hasErrors('imageId')}" th:errors="*{imageId}"> A block of help text. </span>
								</div>
							</div>
							<div class="form-group" th:class="${#fields.hasErrors('instanceType')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">Instance Type</label>
								<div class="col-md-9">
									<input type="text" class="form-control" th:field="*{instanceType}" placeholder="Enter text" />
									<span class="help-block" th:if="${#fields.hasErrors('instanceType')}" th:errors="*{instanceType}"> A block of help text. </span>
								</div>
							</div>
							<div class="form-group" th:class="${#fields.hasErrors('keyName')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">Key Name</label>
								<div class="col-md-9">
									<input type="text" class="form-control" th:field="*{keyName}" placeholder="Enter text" />
									<span class="help-block" th:if="${#fields.hasErrors('keyName')}" th:errors="*{keyName}"> A block of help text. </span>
								</div>
							</div>
							<div class="form-group" th:class="${#fields.hasErrors('subnetId')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">SubnetId</label>
								<div class="col-md-9">
									<input type="text" class="form-control" th:field="*{subnetId}" placeholder="Enter text" />
									<span class="help-block" th:if="${#fields.hasErrors('subnetId')}" th:errors="*{subnetId}"> A block of help text. </span>
								</div>
							</div>
							<div class="form-group" th:class="${#fields.hasErrors('securityGroupIds')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">Security Group Ids</label>
								<div class="col-md-9">
									<input type="text" class="form-control" th:field="*{securityGroupIds}" placeholder="Enter text" />
									<span class="help-block" th:if="${#fields.hasErrors('securityGroupIds')}" th:errors="*{securityGroupIds}"> A block of help text. </span>
								</div>
							</div>
							<hr />
							<div class="form-group" th:class="${#fields.hasErrors('userData')} ? 'form-group has-error' : 'form-group'">
								<label class="col-md-3 control-label">User Data</label>
								<div class="col-md-9">
									<textarea class="form-control" th:field="*{userData}" rows="5"></textarea>
									<span class="help-block" th:if="${#fields.hasErrors('userData')}" th:errors="*{userData}"> A block of help text. </span>
								</div>
							</div>
						</div>



					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn green">Submit</button>
								<button type="button" class="btn default">Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>

</body>
</html>
