<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/edit">
<body>

<div layout:fragment="page-level-script">
	<script th:src="@{/assets/global/plugins/jquery-nestable/jquery.nestable.js}" type="text/javascript"></script>
	<script type="text/javascript">
		// <![CDATA[

		jQuery(document).ready(function() {

			$(".auth-type").change(function () {
				console.log('this = ' +  $(this));
				console.log('this = ' +  $(this).val());

				var sshAuthType = $(this).val();
				if ("KEY" == sshAuthType) {
					$(".auth-type-key").show();
					$(".auth-type-password").hide();
				} else if ("PASSWORD" == sshAuthType) {
					$(".auth-type-key").hide();
					$(".auth-type-password").show();
				}
			});

		});
		// ]]>
	</script>
</div>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-settings font-dark"></i>
							<span class="caption-subject font-dark sbold uppercase">Server Form</span>
						</div>
						<div class="actions">
						</div>
					</div>
					<div class="portlet-body form">
						<form class="form-horizontal" role="form"  th:action="@{/server/target-server/{action}(action=${action})}" th:object="${editForm}" method="post">
							<div class="form-body">
								<h4>Server</h4>
								<div class="form-group" th:class="${#fields.hasErrors('id')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Id</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{id}" placeholder="Enter name" />
										<span class="help-block" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Name</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{name}" placeholder="Enter name" />
										<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Description</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{description}" placeholder="Enter description" />
										<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('hostname')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Hostname</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{hostname}" placeholder="Enter hostname" th:readonly="${action == 'update'}"/>
										<span class="help-block" th:if="${#fields.hasErrors('hostname')}" th:errors="*{hostname}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('address')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">IP Address</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{address}" placeholder="Enter address" />
										<span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('multiple')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Multiple Register</label>
									<div class="col-md-9">
										<div class="checkbox-list">
											<label class="checkbox-inline">
												<span class=""><input type="checkbox" th:field="*{multiple}" /></span>
												Multiple </label>
										</div>
									</div>
								</div>

								<hr />
								<h4>SSH Login</h4>

								<div class="form-group" th:class="${#fields.hasErrors('sshAuthType')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Authentication Type</label>
									<div class="col-md-9">
										<select class="form-control auth-type" th:field="*{sshAuthType}">
											<option th:each="sshAuthType : ${sshAuthTypes}"
													th:value="${sshAuthType}" th:text="${sshAuthType}">Option 1</option>
										</select>
										<span class="help-block" th:if="${#fields.hasErrors('sshAuthType')}" th:errors="*{sshAuthType}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:style="${editForm.sshAuthType.name()} != 'KEY' ? 'display:none'" th:class="${#fields.hasErrors('sshKeyId')} ? 'form-group has-error auth-type-key' : 'form-group auth-type-key'">
									<label class="col-md-3 control-label">SSH Key</label>
									<div class="col-md-9">
										<select class="form-control" th:field="*{sshKeyId}">
											<option th:each="sshKey : ${sshKeys}"
													th:value="${sshKey.id}" th:text="${sshKey.name}">Option 1</option>
										</select>
										<span class="help-block" th:if="${#fields.hasErrors('sshKeyId')}" th:errors="*{sshKeyId}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:style="${editForm.sshAuthType.name()} != 'PASSWORD' ? 'display:none'" th:class="${#fields.hasErrors('sshUsername')} ? 'form-group has-error auth-type-password' : 'form-group auth-type-password'">
									<label class="col-md-3 control-label">Username</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{sshUsername}" placeholder="Enter username" />
										<span class="help-block" th:if="${#fields.hasErrors('sshUsername')}" th:errors="*{sshUsername}"> A block of help text. </span>
									</div>
								</div>

								<div class="form-group auth-type-password" th:style="${editForm.sshAuthType.name()} != 'PASSWORD'  ? 'display:none'">
									<label class="col-md-3 control-label">Password</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="password" class="form-control" th:field="*{sshPassword}" placeholder="Password" />
											<span class="input-group-addon">
												<i class="fa fa-user"></i>
											</span>
										</div>
									</div>
								</div>

								<hr />
								<h4>Agent</h4>
								<div class="form-group">
									<label class="col-md-3 control-label">Agent Installed</label>
									<div class="col-md-9">
										<div class="checkbox-list">
											<label class="checkbox-inline">
												<span class=""><input type="checkbox" th:field="*{agentInstalled}" /></span>
												Installed </label>
										</div>
									</div>
								</div>

								<div class="form-group" th:class="${#fields.hasErrors('agentInstallPath')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Agent Install Path</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{agentInstallPath}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('agentInstallPath')}" th:errors="*{agentInstallPath}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('agentPidFile')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Agent Pid File</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{agentPidFile}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('agentPidFile')}" th:errors="*{agentPidFile}"> A block of help text. </span>
									</div>
								</div>

								<div class="form-group" th:class="${#fields.hasErrors('agentStartCommandLine')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Agent Start Command Line</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{agentStartCommandLine}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('agentStartCommandLine')}" th:errors="*{agentStartCommandLine}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('agentStopCommandLine')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Agent Stop Command Line</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{agentStopCommandLine}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('agentStopCommandLine')}" th:errors="*{agentStopCommandLine}"> A block of help text. </span>
									</div>
								</div>

								<hr />
								<h4>Monitoring</h4>
								<div class="form-group">
									<label class="col-md-3 control-label">Health Collection</label>
									<div class="col-md-9">
										<div class="checkbox-list">
											<label class="checkbox-inline">
												<span class=""><input type="checkbox" th:field="*{healthCollectionEnabled}" /></span>
												Enabled </label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label">Health Monitoring</label>
									<div class="col-md-9">
										<div class="checkbox-list">
											<label class="checkbox-inline">
												<span class=""><input type="checkbox" th:field="*{healthMonitoringEnabled}" /></span>
												Enabled </label>
										</div>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('healthType')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Health Type</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{healthType}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('healthType')}" th:errors="*{healthType}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('healthUrl')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Health Endpoint</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{healthUrl}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('healthUrl')}" th:errors="*{healthUrl}"> A block of help text. </span>
									</div>
								</div>


								<div class="form-group">
									<label class="col-md-3 control-label">Metrics Collection</label>
									<div class="col-md-9">
										<div class="checkbox-list">
											<label class="checkbox-inline">
												<span class=""><input type="checkbox" th:field="*{metricsCollectionEnabled}" /></span>
												Enabled </label>
										</div>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('metricsType')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Metrics Type</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{metricsType}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('metricsType')}" th:errors="*{metricsType}"> A block of help text. </span>
									</div>
								</div>
								<div class="form-group" th:class="${#fields.hasErrors('metricsUrl')} ? 'form-group has-error' : 'form-group'">
									<label class="col-md-3 control-label">Metrics Endpoint</label>
									<div class="col-md-9">
										<input type="text" class="form-control" th:field="*{metricsUrl}" placeholder="Enter text" />
										<span class="help-block" th:if="${#fields.hasErrors('metricsUrl')}" th:errors="*{metricsUrl}"> A block of help text. </span>
									</div>
								</div>

							</div>
							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="submit" class="btn green">Submit</button>
										<button type="button" class="btn default">Cancel</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>


</body>
</html>
