<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bubble font-dark"></i>
							<span class="caption-subject font-dark bold uppercase">Local App File</span>
						</div>
						<div class="actions">
							<div class="btn-group btn-group-devided">

							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-scrollable">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th> # </th>
									<th> Repository </th>
									<th> GroupId </th>
									<th> ArtifactId </th>
									<th> Version </th>
									<th> Action </th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="appFile : ${page}">
									<td th:text="${appFile.id}"> Joke </td>
									<td th:text="${appFile.repositoryId}"> Joke </td>
									<td th:text="${appFile.groupId}"> Joke </td>
									<td th:text="${appFile.artifactId}"> Joke </td>
									<td th:text="${appFile.baseVersion}"> Joke </td>
									<td>
										<a th:href="@{/app/file/LOCAL/create?refId={id}(id=${appFile.id})}" class="btn btn-icon-only yellow">
											<i class="fa fa-upload"></i> </a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>


</body>
</html>
