<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bubble font-dark"></i>
							<span class="caption-subject font-dark bold uppercase">App Repository</span>
						</div>
						<div class="actions">
							<div class="btn-group btn-group-devided">
								<a th:href="@{/app/repository/LOCAL/create}" class="btn btn-sm default">Local Repository 등록</a>
								<a th:href="@{/app/repository/MAVEN/create}" class="btn btn-sm default">Maven Repository 등록</a>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th> Type </th>
									<th> Name </th>
									<th> Description </th>
									<th> Etc </th>
									<th> Action </th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="repository : ${page}">
									<td th:text="${repository.repositoryType}"> Joke </td>
									<td th:text="${repository.name}"> Joke </td>
									<td th:text="${repository.description}"> Joke </td>
									<td th:text="${repository.etc}"> Joke </td>
									<td>
										<div class="btn-group">
											<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"> Action
												<i class="fa fa-angle-down"></i>
											</a>
											<ul class="dropdown-menu" role="menu">
												<li>
													<a th:href="@{/app/repository/{resourceType}/update(id=${repository.id},resourceType=${repository.repositoryType})}"> Modify </a>
												</li>
												<li>
													<a th:href="@{/app/repository/{resourceType}/delete(id=${repository.id},resourceType=${repository.repositoryType})}"> Delete </a>
												</li>
												<li class="divider"> </li>
												<li>
													<a th:href="@{/app/template/create(repositoryId=${repository.id},resourceType=${repository.repositoryType})}"> Template Register </a>
												</li>
												<li class="divider"> </li>
												<li>
													<a th:if="${repository.repositoryType == T(lamp.admin.core.app.domain.AppResourceType).LOCAL}" th:href="@{/app/repository/{resourceType}/{repositoryId}/file(repositoryId=${repository.id},resourceType=${repository.repositoryType})}"> File Upload </a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>


</body>
</html>
