<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

		<div class="row" layout:fragment="content-main">
			<div class="col-md-12">
				<!-- BEGIN BORDERED TABLE PORTLET-->
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-bubble font-dark"></i>
							<span class="caption-subject font-dark bold uppercase" th:text="${SELECTED_MENU_ITEM.title}">Menu Title</span>
						</div>
						<div class="actions">
							<div class="btn-group btn-group-devided">
								<a th:href="@{/ssh-key/create}" class="btn btn-sm default">등록</a>
							</div>
						</div>
					</div>
					<div class="portlet-body">
						<div class="table-scrollable">
							<table class="table table-bordered table-hover">
								<thead>
								<tr>
									<th> # </th>
									<th> Name </th>
									<th> Description </th>
									<th> Username </th>
									<th> Action </th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="sshKey : ${page}">
									<td th:text="${sshKey.id}"> 2 </td>
									<td th:text="${sshKey.name}"> Joke </td>
									<td th:text="${sshKey.description}"> Joke </td>
									<td th:text="${sshKey.username}"> Joke </td>
									<td>
                                        <a th:href="@{/server/sh-key/{id}/update(id=${sshKey.id})}" class="btn yellow btn-outline">Modify</a>
										<a th:href="@{/server/ssh-key/{id}/delete(id=${sshKey.id})}" class="btn red btn-outline">Delete</a>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END BORDERED TABLE PORTLET-->
			</div>
		</div>

</body>
</html>
