<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bubble font-dark"></i>
					<span class="caption-subject font-dark bold uppercase" th:text="${agent.name}">App List</span>
				</div>
				<div class="actions">
					<div class="btn-group btn-group-devided">
						<a th:href="@{/agent/__${agent.id}__/app/create}" class="btn btn-sm default">등록</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th> # </th>
							<th> Name </th>
							<th> Description </th>
							<th> Process Type </th>
							<th> App Id </th>
							<th> App Version </th>
							<th> Status </th>
							<th> Monitor </th>
							<th> Action </th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="app : ${appList}">
							<td th:text="${app.id}"> 2 </td>
							<td th:text="${app.name}"> Joke </td>
							<td th:text="${app.description}"> Joke </td>
							<td th:text="${app.processType}"> Joke </td>
							<td th:text="${app.appId}"> Joke </td>
							<td th:text="${app.appVersion}"> Joke </td>
							<td th:text="${app.status}"> Joke </td>
							<td th:text="${app.monitor}"> Joke </td>
							<td>
								<a th:href="@{/agent/__${agent.id}__/app/__${app.id}__/start}" class="btn dark btn-sm btn-outline sbold uppercase">
									<i class="fa fa-play"></i> Start </a>
								<a th:href="@{/agent/__${agent.id}__/app/__${app.id}__/stop}" class="btn dark btn-sm btn-outline sbold uppercase">
									<i class="fa fa-stop"></i> Stop </a>
								<a th:href="@{/agent/__${agent.id}__/app/__${app.id}__/delete}" class="btn dark btn-sm btn-outline sbold uppercase">
									<i class="fa fa-eject"></i> Delete </a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>


</body>
</html>
