<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bubble font-dark"></i>
					<span class="caption-subject font-dark bold uppercase" th:text="${agent.name}">App Logs</span>
				</div>
				<div class="actions">
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th> Name </th>
							<th> Last Modified </th>
							<th> Size </th>
							<th> Action </th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="logFile : ${logFiles}">
							<td th:text="${logFile.name}"> Joke </td>
							<td th:text="${logFile.lastModified}"> Joke </td>
							<td th:text="${logFile.size}"> Joke </td>
							<td>
								<a th:href="@{/server/agent/{agentId}/app/{appId}/log/{filename}(agentId=${agent.id},appId=${app.id},filename=${logFile.name})}" class="btn btn-icon-only blue">
									<i class="fa fa-download"></i></a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>


</body>
</html>
