<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/list">
<body>

<div class="row" layout:fragment="content-main">
	<div class="col-md-12">
		<!-- BEGIN BORDERED TABLE PORTLET-->
		<div class="portlet light portlet-fit bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-bubble font-dark"></i>
					<span class="caption-subject font-dark bold uppercase">Watch Target</span>
				</div>
				<div class="actions">
					<div class="btn-group btn-group-devided">
						<a th:href="@{/monitoring/watch-target/create}" class="btn btn-sm default">등록</a>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th> Id </th>
							<th> Name </th>
							<th> Hostname </th>
							<th> Group Id </th>
							<th> Artifact Id </th>
							<th> Health Monitoring </th>
							<th> Health Collection </th>
							<th> Metrics Monitoring </th>
							<th> Metrics Collection </th>
							<th> Action </th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="target : ${page}">
							<td th:text="${target.id}"> 2 </td>
							<td th:text="${target.name}"> Joke </td>
							<td th:text="${target.hostname}"> Joke </td>
							<td th:text="${target.groupId}"> Joke </td>
							<td th:text="${target.artifactId}"> Joke </td>
							<td th:text="${target.healthCollectionEnabled}"> Joke </td>
							<td th:text="${target.healthMonitoringEnabled}"> Joke </td>
							<td th:text="${target.metricsCollectionEnabled}"> Joke </td>
							<td th:text="${target.metricsMonitoringEnabled}"> Joke </td>
							<td>
								<div class="btn-group">
									<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"> Action
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu" role="menu">
										<li>
											<a th:href="@{/monitoring/watch-target/{id}/update(id=${target.id})}"> Modify </a>
										</li>
										<li>
											<a th:href="@{/monitoring/watch-target/{id}/delete(id=${target.id})}"> Delete </a>
										</li>
										<li class="divider"> </li>
										<li>
											<a th:href="@{/monitoring/watch-target/{id}/monitoring/disable(id=${target.id})}"> Monitoring Disable </a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END BORDERED TABLE PORTLET-->
	</div>
</div>


</body>
</html>
